body {
	background:#E6E6E6;
}
a { 
  color: #FFFFFF; 
}
dt { font-weight: bold; color:#482CE8;}
#container {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: 100px 50px 400px 400px 300px; 
	margin:0 auto;
	justify-content: space-evenly;
/*	border: 1px solid black;*/
}
header,section,aside,footer { padding: 20px;}
header {background: #00bfff;
	grid-column: 1/6;
	grid-row: 1/3;
}
nav {background: #00bfff;
     padding: 1.5rem; 
	grid-column: 6/9;
	grid-row: 1/3
}
.side1{
	grid-column: 1/3;
	grid-row: 3/4;
	/* border: 4px solid lightskyblue; */
	background: paleturquoise;
}
.side2{
	grid-column: 1/3;
	grid-row: 4/5;
	/* border: 4px solid mediumslateblue ; */
	background:lightskyblue;
}
section{ 
	background:#E6E6FA;  /* lavender */
	font-size: 1.1em;
	display: grid;
	grid-column: 3/9;
	grid-row: 3/5;
	grid-template-rows: repeat(6,1fr);
}
section h1 { grid-column: 1/2;}
section a {color: #005700;}
article{
	/* border: 1px solid red;  */
	padding: 20px;
}
.a1 {color: #800080;}
.a2 {color: #6B0099;}
.a3 {color: #A231BF;}
.a4 {color: #FF0080;}
.a5 {color: #8F0047;}
.a6 {color: #9A379A;}

.instructor{ 
	background:#87cefa;
	font-size: 1.1em;
	grid-column: 1/9;
	grid-row: 3/5;
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
.i1{ grid-column: 1/2; padding: 10px;  border: 1px solid #002A38 ;}
.i2{ grid-column: 2/3; padding: 10px; border: 1px solid  #002A38; }
.i3{ grid-column: 3/4; padding: 10px; border: 1px solid  #002A38; }
.i4{ grid-column: 4/5; padding: 10px; border: 1px solid  #002A38; }


.three-col  { 
	background:lightskyblue;
	grid-column: 1/9;
	grid-row: 3/5;
	grid-template-columns: repeat(3,1fr);
}
/*
.three-1 { grid-column: 1/2; padding: 10px; border: 1px solid deepskyblue; }
.three-2 { grid-column: 2/3; padding: 10px; border: 1px solid deepskyblue; }
.three-3 { grid-column: 3/4; padding: 10px; border: 1px solid deepskyblue; }
*/
.three-col{
	background:lightskyblue;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	padding: 20px;
}
.three-col > div {
  width: 30%;
  margin: 5px;
  padding: 10px;
  line-height: 15px;
  border:1px solid deepskyblue; 
  line-height: 20pt;
}

footer{
	grid-column: 1/9;
	grid-row: 5/6;
  /* border: 2px solid red;*/
    background-image: url(../images/footerImage.jpg);
    background-size: 100% 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
#foot-div {
	color:#FFFFFF;
	grid-column: 1/2;
}
footer ul {list-style-type: none; }

#foot-nav {
	color:#FFFFFF;
	grid-column: 2/3;
	background: none; 
	justify-self:end;
	align-self:end;
}

